html {
	font-size: 18px;
}


/* Header */

header {
	width: 1000px;
	height: 100px;
	margin: 0 auto;
}

header img {
	height: 50px;
	width: 150px;
	float: left;
	margin: 15px 50px;
}

header li {
	display: inline-block;
	padding: 40px 20px;
}


/* Container */

.container {
	width: 600px;
	margin : 0 auto;
	text-align: center;
}

.container h1, .container h2 {
	font-family: "Lora", Serif;
	color: #333F4F;
}

.container p {
	line-height: 1.4;
	text-align: left;
}


/* Footer */

footer {
	width: 1000px;
	margin: 60px auto;
	text-align: center;
	height: 100px;
}

footer i {
	margin: 0 15px;
}